<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This List Restaurant Services">
  <link rel="icon" href="src/public/icons/icon-192x192.png">
  <link rel="icon" href="./favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Labrada:wght@700&family=Quicksand:wght@500&display=swap" rel="stylesheet">
  <link rel="manifest" href="./app.webmanifest">
  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
  <title>Restaurant</title>
</head>

<body>
  <a class="skip-link" href='#mainContent'>Skip to content</a> 
  <!-- Navbar sidebar -->
  <header class="restonav">
    <div class="restonav-item">
      <div class="resto-name">
        <a href="">Restaurant</a>
      </div>
      <button id="buttonBurger" class="hamburger">
        <div class="hamburger1"></div>
        <div class="hamburger2"></div>
        <div class="hamburger3"></div>
      </button>
    </div>
    <nav id="sideDrawer" class="sidebar-container">
      <ul>
        <li><a href="#/">Home</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li><a href="https://www.linkedin.com/in/rizki-nur-allam-593170292">About</a></li>
      </ul>
    </nav>
  </header>
  <main id="mainContent" tabindex="0"></main>
  <footers-element></footers-element>
</body>
</html>
